fastapi
uvicorn
python-jose
passlib[bcrypt]
pydantic
requests
sqlalchemy
sqlite3
psycopg2-binary
PyJWT
prometheus-fastapi-instrumentator
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-requests

